body {
  background-color: #3F403F;
}

.container {
  background-color: #3F403F;
  color: #E6E8E6;
}

#aboutChris {
  background-color: #475841;
  padding-bottom: 3em;
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

#intro {
  font-family: Rokkit;
  margin-bottom: 3em;
  margin-top: 2em;
}

#truckFinder {
  padding-top: 2em;
}

#truckFinder img {
  width: 100%;
}
